In [1]:
%load_ext autoreload
%autoreload 2
import os
os.chdir('../')
print(os.getcwd())
from utils import read_table, eng_dict

try:
    os.makedirs('data/eng/')
except:
    pass

/home/valldabo/Documents/Hobby/PythonProjects/horseracing

In [2]:
agare = read_table('data/travdata/agare.txt', ['id', 'name', 'segrar', 'starter', 'proc'])
print(agare.shape)
agare.head()

(42963, 5)

b'Skipping line 42327: expected 5 fields, saw 6\nSkipping line 42604: expected 5 fields, saw 6\nSkipping line 42965: expected 5 fields, saw 7\n'

   id                         name  segrar  starter  proc
0   1        Sundberg Maria, Boden     0.0      0.0   0.0
1   2      Stall Shooter HB, Solna     2.0     27.0   7.0
2   3             Stall Frisk Luft     0.0      0.0   0.0
3   4        Remmen HB, Skellefteå     2.0     47.0   4.0
4   5  St Asagården HB o Tumult HB     0.0      2.0   0.0

In [3]:
agare.rename(columns=eng_dict).to_csv('data/eng/owners.csv', index=False)

In [4]:
age = read_table('data/travdata/age.txt', ['sex', 'age', 'segrar', 'starter', 'proc'])
print(age.shape)
age.head()

(42, 5)

  sex  age  segrar  starter  proc
0   H    2     426     2547    16
1   H    3    4238    24084    17
2   H    4    5569    30544    18
3   H    5    4350    26221    16
4   H    6    2736    19866    13

H - HINGST - STALLION - NOT CASTRATED 
S - STO - MARE - FEMALE
V - VALLACK - GELDING - CASTRATED STALLIN

In [5]:
age.sex = age.sex.map({'H':'STALLION', 'S':'MARE', 'V': 'GELDING'})

In [9]:
from utils import eng_dict
age.rename(columns=eng_dict).to_csv('data/eng/age.csv', index=False)

In [10]:
ban = read_table('data/travdata/ban.txt', ['id', 'bankod', 'bana', 'avstand', 'segrar', 'starter', 'proc', 'NA'])
print(ban.shape)
ban.head()

(170, 8)

   id bankod       bana  avstand  segrar  starter  proc  NA
0   3     AR     Arvika     50.0   126.0   2227.0   5.0 NaN
1   5     AX   Axevalla     44.0  2200.0  23267.0   9.0 NaN
2   6      B  Bergsåker     92.0  4417.0  45665.0   9.0 NaN
3   9     BJ     Bjerke    100.0  1027.0   9989.0  10.0 NaN
4  11     BL  Blommeröd     40.0    24.0    199.0  12.0 NaN

In [11]:
from utils import eng_dict
ban.rename(columns=eng_dict).to_csv('data/eng/curcuit.csv', index=False)

In [13]:
berakdatum = read_table('data/travdata/berakdatum.txt', ['id', 'tabell', 'datum', 'bana', 'tvlid'])
print(berakdatum.shape)
berakdatum.head()

(8, 5)

   id    tabell       datum bana  tvlid
0   1     Ägare  2018-12-29    E      0
1   2  KönÅlder  2018-12-29    S      0
2   3      Bana  2018-12-29    S      0
3   4    Hingst  2018-12-29    S      0
4   8      Spår  2018-12-29  NaN      0

In [14]:
color = read_table('data/travdata/color.txt', ['id', 'lb', 'ub', 'r', 'g', 'b'])
print(color.shape)
color.head()

(7, 6)

   id   lb    ub    r    g    b
0   6  NaN   NaN  251  253  200
1   5  NaN   NaN    0  128  255
2   4  5.5  99.0  234  234  234
3   3  3.5   5.5  128  255  255
4   2  1.5   3.5   69  194   98

In [15]:
ekvgrp = read_table('data/travdata/ekvgrp.txt', ['id', 'namn'])
print(ekvgrp.shape)
ekvgrp.head()

(2, 2)

   id       namn
0   1    F-värde
1   9  Utan Odds

In [16]:
galopp = read_table('data/travdata/galopp.txt', ['ant', 'segrar', 'starter', 'procent'])
print(galopp.shape)
galopp.head()

(11, 4)

   ant  segrar  starter  procent
0    0   12044   107474     1120
1    1    5079    61148      830
2    2    3412    40974      830
3    3    1984    24231      818
4    4     941    12864      731

In [17]:
garanti = read_table('data/travdata/garanti.txt', ['id', 'systemnr', 'rad', 'beskr'])
print(garanti.shape)
garanti.head()

(1917, 4)

     id  systemnr  rad                      beskr
0     1         1    1  Alltid 7 rätt om minst en
1     2         1    2             korrekt tippad
2  1889       484    1               Alla rätt om
3  1888       483    6                  B = 2 - 4
4     5         3    1                    A = 1-2

In [27]:
garanti.beskr = garanti.beskr.str.lower().str.replace('rätt', 'correct').str.replace('om', 'if').str.replace('alla', 'all')

In [28]:
from utils import eng_dict
garanti.rename(columns=eng_dict).to_csv('data/eng/guarantee.csv', index=False)

In [30]:
grafgrp = read_table('data/travdata/grafgrp.txt', ['id', 'grupp'])
print(grafgrp.shape)
grafgrp.head()

(2, 2)

   id   grupp
0   1   tider
1   2  Priser

In [31]:
grafrad = read_table('data/travdata/grafrad.txt', ['id', 'rad', 'variabel'])
print(grafrad.shape)
grafrad.head()

(5, 3)

   id  rad   variabel
0   1    1  TidSenast
1   1    2   TidBesta
2   1    3  Maskintid
3   2    1     Intakt
4   2    2   IntaktII

In [32]:
hingst = read_table('data/travdata/hingst.txt', ['id', 'namn', 'segrar', 'starter', 'proc', 'msegrar', 'mstarter', 'mproc'])
print(hingst.shape)
hingst.head()

(4759, 8)

   id            namn  segrar  starter  proc  msegrar  mstarter  mproc
0   1  RIDE THE NIGHT   823.0   9643.0   8.0    125.0    1288.0    9.0
1   2   ASPIRANT NIBS     2.0     70.0   2.0     88.0    1361.0    6.0
2   3       MR LUCKEN    24.0    253.0   9.0      6.0      38.0   15.0
3   4       DUKE IRAN     0.0      1.0   0.0     53.0     664.0    7.0
4   5     BUCK NEWTON    75.0   1172.0   6.0     89.0     922.0    9.0

In [33]:
from utils import eng_dict
hingst.rename(columns=eng_dict).to_csv('data/eng/stallion.csv', index=False)

In [35]:
horse = read_table('data/travdata/horse.txt', ['id', 'namn', 'intakt', 'intaktii', 'intaktperstart',
                                                                   'pliar1', 'pliar2', 'pliar3', 'starteriar', 'plfgar1', 'plfgar2', 
                                                                   'plfgar3', 'starterfgar', 'fodd', 'sex', 'hemmabana', 'v75segrar',
                                                                   'v75starter', 'v75proc', 'hingstid', 'morfarid', 'tranarid', 'agarid', 'nyckel', 'aktiverad'])
print(horse.shape)
horse.head()

(93682, 25)

,id,namn,intakt,intaktii,intaktperstart,pliar1,pliar2,pliar3,starteriar,plfgar1,...,hemmabana,v75segrar,v75starter,v75proc,hingstid,morfarid,tranarid,agarid,nyckel,aktiverad
0,50867,KOLAR SKAFFER,176850.0,100550.0,4570.0,0.0,0.0,0.0,10.0,3.0,...,H,NaN,NaN,NaN,4296.0,988.0,463.0,4088.0,556217.0,2011-05-18
1,2,A DE NIK GRANDE,135535.0,62364.0,2150.0,0.0,0.0,0.0,0.0,1.0,...,NaN,0.0,0.0,0.0,3.0,4.0,7261.0,31218.0,196099.0,NaN
2,5,A ONE,106542.0,0.0,NaN,0.0,0.0,0.0,0.0,1.0,...,NaN,0.0,0.0,0.0,13.0,0.0,2.0,2.0,0.0,NaN
3,7,A SIGN FROM HEAVEN,44900.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,NaN,0.0,0.0,0.0,15.0,1645.0,3.0,376.0,0.0,2010-02-08
4,50866,ASPE LEON,0.0,1600.0,0.0,0.0,0.0,0.0,1.0,0.0,...,H,NaN,NaN,NaN,276.0,885.0,570.0,21596.0,570499.0,NaN

In [ ]:
kommentar = read_table('/home/valldabo/Downloads/travdata/kommentar.txt', ['id', 'tvlid', 'spar', 'anm'], warn_bad_lines=False)[::2] #Seems like a parsing error, makes a new line instead of makeing the plac column
print(kommentar.shape)
kommentar.head()

In [ ]:
kommreg = read_table('/home/valldabo/Downloads/travdata/kommreg.txt', ['nr', 'kommentar', 'sort', 'antal', 'vinster', 
                                                                       'ackvinstodds', 'proc', 'plats', 'plac', 'snittodds', 
                                                                       'vinstkr', 'vinstkrsort', 'totantal', 'totvinster', 
                                                                       'totproc', 'kommentar1', 'kommentar2'])
print(kommreg.shape)
kommreg.head()

In [ ]:
kommstat = read_table('/home/valldabo/Downloads/travdata/kommstat.txt', ['id', 'tvlid', 'spar', 'kommid', 'plac', 
                                                                         'typ', 'varde', 'numplac', 'odds'])
print(kommstat.shape)
kommstat.head()

In [ ]:
kup = read_table('/home/valldabo/Downloads/travdata/kup.txt', ['id', 'nr', 'kupnr', 'gard1', 'gard2', 
                                                               'gard3', 'gard4', 'gard5', 'gard6', 'gard7'])
print(kup.shape)
kup.head()

In [ ]:
kuskban = read_table('/home/valldabo/Downloads/travdata/kuskban.txt', ['id', 'bana', 'kusk', 'segrar', 'starter', 'proc'])
print(kuskban.shape)
kuskban.head()

In [ ]:
kusk = read_table('/home/valldabo/Downloads/travdata/kusk.txt', ['id', 'namn', 'atgkod', 'segrar', 'starter',
                                                                 'proc', 'v75segrar', 'v75starter', 'v75proc', 'licens', 'kortnamn', 'hembana'])
print(kusk.shape)
kusk.head()

In [ ]:
lopp = read_table('/home/valldabo/Downloads/travdata/lopp.txt', ['id', 'horseid', 'datum', 'bana', 'lopp', 'spar',
                                                                 'distans', 'tillagg', 'placering', 'tid', 'odds', 'kusk', 'verklspar'],
                  warn_bad_lines=False, header='infer')
print(lopp.shape)
lopp.head()

In [ ]:
mlrrad = read_table('/home/valldabo/Downloads/travdata/mlrrad.txt', ['id', 'mlrid', 'varid', 'proc', 'medel',
                                                                     'bvarde', 'varians', 'tvarde', 'sign', 'manuell'])
print(mlrrad.shape)
mlrrad.head()

In [ ]:
mlr = read_table('/home/valldabo/Downloads/travdata/mlr.txt', ['id', 'typ', 'startsatt', 'distans', 'division', 'bana', 
                                                              'antal', 'bortfall', 'fvarde', 'datum', 'berakfromdatum', 
                                                              'bortdivision', 'bortutdelning', 'ekvgrp', 'antlopp',
                                                              'snittodds', 'beraktomdatum', 'dagensdatum', 'berakar',
                                                              'antplats', 'platsodds'])
print(mlr.shape)
mlr.head()

In [ ]:
mtid = read_table('/home/valldabo/Downloads/travdata/mtid.txt', ['id', 'datum', 'bana', 'lopp', 'senaste', 'besta'])
print(mtid.shape)
mtid.head()

In [ ]:
notering = read_table('/home/valldabo/Downloads/travdata/notering.txt', ['id', 'horseid', 'tvlid', 'anm'])
print(notering.shape)
notering.head()

In [ ]:
odds = read_table('/home/valldabo/Downloads/travdata/odds.txt', ['id', 'tvlid', 'kr', 'tid', 'n1', 'n2', 'n3', 'n4', 'n5', 
                                                                 'n6', 'n7', 'n8', 'n9', 'n10', 'n11', 'n12', 'n13', 'n14', 
                                                                 'n15', 'n16', 'n17', 'n18', 'n19', 'n20'])
print(odds.shape)
odds.head()

In [ ]:
omrspar = read_table('/home/valldabo/Downloads/travdata/omrspar.txt', ['id', 'typ', 'dist', 'spar', 'varde', 'tid', 'segerp'])
print(omrspar.shape)
omrspar.head()

In [ ]:
omr = read_table('/home/valldabo/Downloads/travdata/omr.txt', ['id', 'typ', 'dist', 'varde'])
print(omr.shape)
omr.head()

In [ ]:
parm = read_table('/home/valldabo/Downloads/travdata/parm.txt', ['id', 'modell', 'modstart', 'modslut', 'oddsgrans', 'negodds', 'posodds', 
                                                                 'favoritkvar', 'sluant', 'sluval', 'passwd', 'anvid', 'slumprader', 'slumptyp', 
                                                                 'favoritspel', 'stabilitet', 'startproc', 'subject', 'mailhost', 'userid',
                                                                 'email', 'skickaram', 'skickasyst',
                                                               'stabmaxodds', 'mailpassword'])
parm.head()

In [ ]:
pris = read_table('/home/valldabo/Downloads/travdata/pris.txt', ['tvlid', 'typ', 'pris1', 'pris2', 'pris3', 'pris4',
                                                                 'pris5', 'pris6', 'pris7', 'pris8', 'pris9', 'pris10'])
print(pris.shape)
pris.head()

In [ ]:
prog = read_table('/home/valldabo/Downloads/travdata/prog.txt', ['id', 'tvlid', 'horseid', 'spar', 'kusk', 'pvalue', 'tid', 'verklspar', 'plac', 'rank', 'atgkod', 'odds1',
                                                                'v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 
                                                                 'v10', 'v11', 'v12', 'v13', 'v14', 'v15', 'v16', 'v17', 'v18', 'v19',
                                                                 'v20', 'v21', 'v22', 'v23', 'v24', 'v25', 'v26', 'v27', 'v28', 'v29', 
                                                                 'v30', 'v31', 'v32', 'v33', 'v34', 'v35', 'v36', 'v37', 'v38', 'v39',
                                                                 'v40', 'v41', 'v42', 'v43', 'v44', 'v45', 'v46', 'v47', 'v48', 'v49', 
                                                                 'v50', 'v51', 'v52', 'v53', 'v54', 'v55', 'v56',
                                                                'stabilitet', 'stabb', 'bort', 'pvalue2', 'stid', 'diff', 'tidsrank', 'tidsplac', 'tidsrank2',
                                                                'v57', 'v58', 'v59', 'v60', 'ranktid', 'v61', 'v62', 'bana', 'avdv75', 'v63', 'v64', 'v65', 'v66',
                                                                'agarnr', 'tranarnr', 'v67', 'uppehall', 'v68', 'v69', 'v70', 'v71', 'v72', 'v73',
                                                                'antstreck', 'v74', 'v75', 'v76', 'v77', 'v78', 'v79',
                                                                'v80', 'v81', 'v82', 'v83', 'v84', 'v85', 'v86', 'v87', 'v88', 'v89',
                                                                'v90', 'v91', 'v92', 'v93', 'v94', 'v95', 'v96', 'v97', 'v98', 'v99'])
print(prog.shape)
prog.head()

In [ ]:
raka = read_table('/home/valldabo/Downloads/travdata/raka.txt', ['ant', 'segrar', 'starter', 'proc'])
print(raka.shape)
raka.head()

In [ ]:
redu = read_table('/home/valldabo/Downloads/travdata/redu.txt', ['nr', 'typ', 'konstr', 'garderade', 'osym', 'antkup', 
                                                                 'anta', 'antb', 'antc', 'antd', 'ante', 'antf', 'pris', 'vint', 'utv', 'rf'])
print(redu.shape)
redu.head()

In [ ]:
rshuv= read_table('/home/valldabo/Downloads/travdata/rshuv.txt', ['id', 'datum1', 'datum2'])
print(rshuv.shape)
rshuv.head()

In [ ]:
rsreg = read_table('/home/valldabo/Downloads/travdata/rsreg.txt', ['id', 'vnr', 'medel', 'bvarde'])
print(rsreg.shape)
rsreg.head()

In [ ]:
rssum = read_table('/home/valldabo/Downloads/travdata/rssum.txt', ['id', 'nr', 'variabel', 'skattning', 'utdelning'])
print(rssum.shape)
rssum.head()

In [ ]:
shhuv = read_table('/home/valldabo/Downloads/travdata/shhuv.txt', ['id', 'datum1', 'datum2', 'A', 'R'])
print(shhuv.shape)
shhuv.head()

In [ ]:
shsum = read_table('/home/valldabo/Downloads/travdata/shsum.txt', ['id', 'nr', 'variabel', 'skattning', 'utdelning'])
print(shsum.shape)
shsum.head()

In [ ]:
sparklass = read_table('/home/valldabo/Downloads/travdata/sparklass.txt', ['id', 'klass', 'startsatt', 'distans', 
                                                                           'tillag', 'spar', 'segrar', 'starter', 'proc'])
print(sparklass.shape)
sparklass.head()

In [ ]:
spar = read_table('/home/valldabo/Downloads/travdata/spar.txt', ['id', 'klass', 'startsatt', 'distans', 'tillag', 
                                                                 'spar', 'segrar', 'starter', 'proc'])
print(spar.shape)
spar.head()

In [ ]:
spelutv = read_table('/home/valldabo/Downloads/travdata/spelutv.txt', ['id', 'datum', 'bana', 'typ', 'systemnr', 'maxkr', 'dtyp', 
                                                                       'pris', 'vinst', 'a7', 'a6', 'a5', 'a4', 'spikar', 'spiktyp', 'rader1', 
                                                                       'rader', 'maxhastar', 'spikratt', 'ack'])
print(spelutv.shape)
spelutv.head()

In [ ]:
tranare = read_table('/home/valldabo/Downloads/travdata/tranare.txt', ['id', 'namn', 'segrar', 'starter', 'proc'])
print(tranare.shape)
tranare.head()

In [ ]:
tvldag = read_table('/home/valldabo/Downloads/travdata/tvldag.txt', ['id', 'datum', 'bana', 'typ', 'cfg', 'dd1', 'starttid', 'oms',
                                                                    'antsyst', 'sh', 'grad', 'dd2', 'ld', 'ld1', 'ld2'])
print(tvldag.shape)
tvldag.head()

In [ ]:
tvlkva = read_table('/home/valldabo/Downloads/travdata/tvlkva.txt', ['id'] + ['s' + str(i) for i in range(1, 100)])
print(tvlkva.shape)
tvlkva.head()

In [ ]:
tvlsum = read_table('/home/valldabo/Downloads/travdata/tvlsum.txt', ['id'] + ['s' + str(i) for i in range(1, 100)])
print(tvlsum.shape)
tvlsum.head()

In [ ]:
tvl = read_table('/home/valldabo/Downloads/travdata/tvl.txt', ['id', 'datum', 'bana', 'lopp', 'startsatt', 'distans', 
                                                               'division', 'banforh', 'v5', 'v75', 'v86', 'v65', 'forstapris',
                                                               'loppid', 'startid', 'konhv', 'antilopp'])
print(tvl.shape)
tvl.head()

In [ ]:
uppehall = read_table('/home/valldabo/Downloads/travdata/uppehall.txt', ['ant', 'segrar', 'starter', 'proc'])
print(uppehall.shape)
uppehall.head()

In [ ]:
columns = ['id'] + ['ratt' + str(i) for i in reversed(range(4, 9))] 
for name in  ['progv', 'rank', 'vinnare', 'odds', 'streck']:
    columns += [name + str(i) for i in range(1, 9)]
columns += ['datum', 'bana']
columns += ['plats' + str(i) for i in range(1, 9)] + ['typ', 'NA']

utd = read_table('/home/valldabo/Downloads/travdata/utd.txt', columns)
print(utd.shape)
utd.head()

In [ ]:
utlmtid = read_table('/home/valldabo/Downloads/travdata/utlmtid.txt', ['horseid', 'datum', 'bana', 'lopp', 'mtid'])
print(utlmtid.shape)
utlmtid.head()

In [ ]:
varkollhuv = read_table('/home/valldabo/Downloads/travdata/varkollhuv.txt', ['id', 'startsatt', 'distans', 'division', 'bana',
                                                                            'datumfrom', 'datumtom', 'antal'])
print(varkollhuv.shape)
varkollhuv.head()

In [ ]:
varkolltmp = read_table('/home/valldabo/Downloads/travdata/varkolltmp.txt', ['id', 'tvlid', 'spar', 'varid', 'varde'])
print(varkolltmp.shape)
varkolltmp.head()

In [ ]:
varkoll = read_table('/home/valldabo/Downloads/travdata/varkoll.txt', ['id', 'huvid', 'varid', 'utomgrans', 'bortfall', 'noll', 'godk'])
print(varkoll.shape)
varkoll.head()

In [ ]:
vpla = read_table('/home/valldabo/Downloads/travdata/vpla.txt', ['id', 'rank', 'VINNARE', 'PROC', 'ODDS'])
print(vpla.shape)
vpla.head()

In [ ]:
winp2huv = read_table('/home/valldabo/Downloads/travdata/winp2huv.txt', ['typ', 'datum1', 'datum2'])
print(winp2huv.shape)
winp2huv.head()

In [ ]:
winp2 = read_table('/home/valldabo/Downloads/travdata/Winp2.txt', ['typ', 'rank', 'ant', 'vinnare', 'procent', 'odds'])
print(winp2.shape)
winp2.head()